.about-me {
    width: 100%;
    // position: relative;
    // padding: 5rem 10rem;
    margin: 0;

    h1 {
        display: flex;
        justify-content: center;
        // font-family: 'Roboto', sans-serif;
        // font-weight: 200;
        // font-size: 2rem;
        // margin: 1rem 0;
    }

    h3 {
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        letter-spacing: 5%;
    }

    p {
        font-family: 'Roboto', sans-serif;
        font-weight: 200;
    }
}

.about-img-container {
    display: flex;
    justify-content: center;
    align-items: flex-start; /* new */

    img {
        position:relative;
        height: auto;
        // padding-top: 6.5%;
        width: 100%;
        max-width: 30rem;
    }
}

.about-me__body {
    padding: 5rem;
}

.portfolio {
    width: 100%;
    margin: 0;
}
