@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import 'hero';
@import 'header';
@import 'media';
@import 'animations';
@import 'footer';
@import 'about';
@import 'portfolio';
@import 'blog';
@import 'contact';

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

.logo-container {
    width: 80%;
    position: relative;
    // margin: 2rem auto;
}

.section-title {
    font-size: xx-large;
    display: flex;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 2rem;
    // margin: 1rem 0;
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    font-size: 2rem;
    margin: 1rem 0;
}

p {
    margin: 1rem 0;
}
