@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import 'hero';
@import 'header';
@import 'media';
@import 'animations';
@import 'footer';
@import 'about';

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 80%;
    position: relative;
    // margin: 2rem auto;
}

p {
    margin: 1rem 0;
}
